* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(19, 19, 19);
    background-image: url("/images/background.png");
    background-position: center;
    background-size: cover;
  }
  